.employeelist{
    background-color:orange !important;
    margin: 10px;
    padding: 10px;
}
.employeeItem{
    background-color: navy !important;
    color: white;
    margin: 10px;
    padding: 10px;
}