div{
    background-color: rgb(132, 0, 255);
    
}
h1{
    color: rgb(51, 50, 50);
    border-top: rgb(255, 68, 0);
}
article{
    background-color: rgb(252, 86, 252);
}
.a{
    background-color: rgb(145, 255, 71);
}