img{
    text-align: center;
    width: 80%;
    height: 900px;

}
.a{
    background-color: rgb(255, 255, 255);
    color: white;
}
.b{
    background-color: gray;
}
/* div{
    background-image: url(./Image2.jpg);

} */
/* body{
    background-image: url(./Image2.jpg);

} */